<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AI Products Detection System</title>
</head>
<body>
  <h1>Products Detection System</h1>
  <p>Choose you want to do:</p>
  <div style="margin-top: 20px;">
        <a href="/upload"><button style="padding: 10px;">Upload Imagem</button></a>
        <a href="/realtime"><button style="padding: 10px;">Real time test</button></a>
  </div>
</body>
</html>




